<div class="container">
    <h3>Área restrita</h3>
    <p>Digite seu e-mail e senha para entrar</p>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="email" [ngClass]="{'error': formErrors.emailRequired || formErrors.emailInvalid || formErrors.emailNotFound}">
                {{ formErrors.emailRequired ? '*Campo obrigatório*' :
                    (formErrors.emailInvalid ? '*Formato de e-mail inválido*' :
                    (formErrors.emailNotFound ? '*E-mail incorreto*' : 'E-mail')) }}
            </label>
            <input type="email" id="email" name="email" formControlName="email" placeholder="Digite seu E-mail" required>
        </div>

        <div>
            <label for="senha" [ngClass]="{'error': formErrors.passwordRequired || formErrors.passwordNotFound}">
            {{ formErrors.passwordRequired ? '*Campo obrigatório*' : (formErrors.passwordNotFound ? '*Senha incorreta*' : 'Senha') }}
            </label>
            <input type="password" id="senha" name="senha" formControlName="senha" placeholder="Digite sua senha" required>
        </div>

        <div class="forgot-password">
            <input type="checkbox" id="switch" />
            <label for="switch">Toggle</label>
            <a href="#" class="forgot-password__text">Esqueceu sua senha</a>
        </div>
        <button type="submit" [ngClass]="{'loading': isLoading}" [disabled]="isLoading">
            <app-loading *ngIf="isLoading"></app-loading>
            Entrar
        </button>
    </form>
</div>
