<div class="side-nav">
    <div class="side-nav__header">
        <h1>Vaga Front-end AchieveMore</h1>
        <img src="../../../../../assets/separator.png" alt="">
    </div>
    <div class="side-nav__dashboard">
        <div class="side-nav__dashboard-header">
            <div>
                <img src="../../../../../assets/home.png" alt="Home">
                <span>Dashboard</span>
            </div>
            <svg
                width="16" 
                height="16" 
                viewBox="0 0 10 6" 
                fill="none" 
                xmlns="http://www.w3.org/2000/svg"
                (click)="toggleActive(0)"
                [ngClass]="{'active': actives[0]}"
            >
                <path d="M1 0.585815L5.24264 4.82846L9.48528 0.585815" stroke="#8B8F92"/>
            </svg>
        </div>
        <div class="side-nav__dashboard-body" [ngClass]="{'active': actives[0]}">
            <span>Gerenciar</span>
        </div>
    </div>
    <div class="side-nav__users">
        <div class="side-nav__users-header">
            <div>
                <img src="../../../../../assets/manage.png" alt="Manage">
                <span>Usuários</span>
            </div>
            <svg 
                width="16" 
                height="16" 
                viewBox="0 0 10 6" 
                fill="none" 
                xmlns="http://www.w3.org/2000/svg"
                (click)="toggleActive(1)"
                [ngClass]="{'active': actives[1]}"
            >
                <path d="M1 0.585815L5.24264 4.82846L9.48528 0.585815" stroke="#8B8F92"/>
            </svg>
        </div>
        <div class="side-nav__users-body" [ngClass]="{'active': actives[1]}">
            <span>Listagem</span>
            <span>Cadastrar</span>
        </div>
    </div>
</div>