<div class="side-nav">
    <div class="side-nav__header">
        <h1>Vaga Front-end AchieveMore</h1>
        <img src="../../../../../assets/separator.png" alt="">
    </div>
    <div class="side-nav__dashboard">
        <div class="side-nav__dashboard-header">
            <div>
                <img src="../../../../../assets/home.png" alt="Home">
                <span>Dashboard</span>
            </div>
            <svg 
            width="16" 
            height="16" 
            viewBox="0 0 10 6" 
            fill="none" 
            xmlns="http://www.w3.org/2000/svg"
            >
                <path d="M1 0.585815L5.24264 4.82846L9.48528 0.585815" stroke="#8B8F92"/>
            </svg>
        </div>
    </div>
    <div class="side-nav__manage">
        <span>Gerenciar</span>
        <div class="side-nav__manage__users">
            <div class="side-nav__manage__users-header">
                <div>
                    <img src="../../../../../assets/manage.png" alt="Manage">
                    <span>Usuários</span>
                </div>
                <svg 
                width="16" 
                height="16" 
                viewBox="0 0 10 6" 
                fill="none" 
                xmlns="http://www.w3.org/2000/svg"
                >
                    <path d="M1 0.585815L5.24264 4.82846L9.48528 0.585815" stroke="#8B8F92"/>
                </svg>
            </div>
        </div>
    </div>
</div>