svg {
  transition: transform 0.3s ease;
  transform: rotate(180deg);

  &.active {
    transform: rotate(0deg);
  }
}

.side-nav {
  height: 750px;
  width: 289px;
  background-color: #ffffff;
  padding: 24px 8px;
  border-radius: 12px;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 16px;
    h1 {
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 24px;
      text-align: center;
      color: #172B4D;
    }
  }

  &__dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 18.8px 24px;
      width: 100%;

      svg {
        cursor: pointer;
      }

      div {
        display: flex;
        gap: 16px;
        align-items: center;
        font-size: 14px;
        color: #172B4D;

        img {
          width: 16px;
          height: 15.33px;
        }
      }
    }

    &-body {
      display: flex;
      flex-direction: column;
      gap: 25.6px;
      margin-top: 8px;
      width: 100%;
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-out, opacity 0.3s ease-out;

      span {
        font-size: 12px;
        margin-left: 24px;
        font-weight: 700;
        color: #8591A4;
        cursor: pointer;
        width: fit-content;
      }

      &.active {
        max-height: 18px;
        opacity: 1;
      }
    }
  }

  &__users {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 18.8px 24px;

      svg {
        cursor: pointer;
      }

      div {
        display: flex;
        gap: 16px;
        align-items: center;
        font-size: 14px;
        color: #172B4D;

        img {
          width: 16px;
          height: 15.33px;
        }
      }
    }

    &-body {
      display: flex;
      flex-direction: column;
      gap: 25.6px;
      margin-top: 8px;
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
      width: 100%;

      &.active {
        max-height: 67.58px;
        opacity: 1;
      }

      span {
        font-size: 14px;
        margin-left: 56px;
        color: #6C757D;
        cursor: pointer;
        width: fit-content;

        
        
        &:hover {
          color: #5E72E4;
        }
      }
    }
  }
}